Anax junius.csv
Argia vivida.csv
Automeris_io.csv
Bombus fervidus.csv
Bombus flavifrons.csv
Bombus griseocollis.csv
Bombus impatiens.csv
Bombus melanopygus.csv
Bombus pensylvanicus.csv
Bombus terricola.csv
Bombus vagans.csv
Bombus_impatiens.csv
Bombus_pensylvanicus.csv
Calopteryx maculata.csv
Enallagma boreale.csv
Enallagma civile.csv
Epicauta_normalis.csv
Hetaerina americana.csv
Hyles lineata.csv
Ischnura verticalis.csv
Libellula lydia.csv
Pachydiplax longipennis.csv
Sympetrum corruptum.csv
Xylocopa virginica.csv
cleaned_georeferenced_idigbio.csv
